@* Когда отпраил кому-то запрос, но еще не известно о принятии *@
<li>
    <button type="submit" class="btn btn-link hire-us">
        <i class="fas fa-share" style="font-size:20px; color:white;"></i>
    </button>
</li>
