<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="../../Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>
    <div class="mynav ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand ml-3" href="#">GiveAdvice</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Мои советы <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Дать совет <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Попросить совет <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Найти друзей <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">
                            Нужен твой совет  <span class="badge badge-danger">4</span>
                        </a>
                        <span class="sr-only">непрочитанных сообщений</span>

                    </li>

                </ul>
                <div class="my-2 my-lg-0 d-block mr-2 ">
                    <div class="mr-5">
                        <i class="fas fa-bell  btn btn-link" style="font-size:35px;color:#2285a4;text-decoration: none;">
                            <span class="badge badge-pill badge-danger " style="font-size:13px;">1</span>
                        </i>
                    </div>
                </div>
                <div class="my-2 my-lg-0 d-block mr-2">
                    <div class="btn-group">
                       
                       
                        <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:13vw; height:6.2vh;">
                            <div> <img src="../../Content/аватар.jpg" class="mr-2 avatar" />   Vlad</div>
                        </button>
                        <div class="dropdown-menu user-account-settingss" aria-labelledby="dropdownMenuButton" style="width:13vw">
                            <a class="dropdown-item" href="#">
                                Подписчики <span class="badge badge-light">56</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                Подписки<span class="badge badge-light">42</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                Друзья <span class="badge badge-light">1</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                Советы <span class="badge badge-light">123</span>
                            </a>
                            <div class="text-center">
                                Выйти
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row align-items-center mt-3 alert alert-primary" style="border:3px solid grey; padding:8px; border-radius: 10px; font-size:20px;">

                <div class="col-3">
                    <img src="../../Content/аватар.jpg" style="width: 70px;height: 70px; border-radius: 40px;" />
                    <span style="font-size:40px; margin-left:10px;"> Vlad</span>
                </div>
                <div class="col ">
                    <p>Хочет добавить вас с список своих друзей</p>
                </div>
                <div class="col d-flex justify-content-end" style="font-size:60px;">
                    <i class="fas fa-check-circle mr-4"style="color:#1bc228;"></i>
                    <i class="fas fa-times-circle" style="color:#c23c1b"></i>
                </div>
            </div>
        </div>
    </div>
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>